.cart-container{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.cart-container .cart-list-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cart-container .cart-list-container .title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);

}

.cart-container .cart-list-container .title span{
    color: var(--color-primary);
}

.cart-container .cart-list-container .cart-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}












.cart-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2rem;
    width: 50rem;
    background-color: #f6f6ff;
    padding: 2rem;
    border-bottom: #dfdfff 1px solid;
    border-radius: 10px;
}

.cart-card-container .left img{
    width: 10rem;
    border-radius: 10px;
}

.cart-card-container .middle .name{
    font-size: 1.5rem;
    font-weight: 500;

}

.cart-card-container .middle .category{
    font-size: 0.8rem;
    font-weight: 500;
    background-color: var(--color-primary);
    color: white;
    padding: 0.2rem 0.7rem;
    text-align: center;
    border-radius: 20px;
    width: fit-content;
}

.cart-card-container .middle .quantity-span{
    font-weight: 600;
    font-size: 1.1rem;
}

.cart-card-container .middle .quantity{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    background-color: var(--color-primary-v2);
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    margin: 0.4rem 2rem;
    width: 15rem;

}
.cart-card-container .middle .quantity .minus{
    border-right: white 1px solid;
    cursor: pointer;
}

.cart-card-container .middle .quantity .amount{
    
}

.cart-card-container .middle .quantity .plus{
    border-left: white 1px solid;
    cursor: pointer;
}

.cart-card-container .middle .quantity .minus:hover{
    background-color: var(--color-primary-v3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.cart-card-container .middle .quantity .plus:hover{
    background-color: var(--color-primary-v3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.cart-card-container .right .price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cart-card-container .right .remove{
    background-color: var(--color-warning);
    color: white;
    text-align: center;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    margin-top: 2.5rem;
    cursor: pointer;

}

.checkout-section{
    right: 3rem;
margin-left: 5rem;
position: fixed;
background-color: #f6f6ff;
width: 35rem;
height: 80vh;
padding: 1rem 3rem;
border-radius: 10px;
margin-top: 2rem;
}

.checkout-container{
    position: relative;
}
.checkout-section .title{
    text-align: start;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);}

    .checkout-container .label{
        font-size: 1.1rem;
        font-weight: 600;
    }

    .checkout-container .methods{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.2rem;
        padding: 0 1.5rem;
        margin-bottom: 3rem;
    }


    .checkout-container .methods label{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .checkout-container .name-value{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem 4rem;
    }

    .checkout-container .pay-btn{
        font-weight: 600;
        margin-top: 5rem;
    }

    .checkout-shipping-container{
        margin: 1rem;
        padding: 0.5rem;
        border: var(--color-primary) 1px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        width: max-content;
        cursor:default;
    }

    .checkout-shipping-container img{
        width: 5rem;
    }

    .checkout-shipping-container .shiping-info .city{
        font-size: 1.2rem;
        font-weight: 700;

    }

    .checkout-shipping-container .shiping-info .data{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 12rem;
    }

    .checkout-shipping-container  .btn-change{
        height: fit-content;
        margin-left: -0.5rem;
    }